<!DOCTYPE html>
<html>
<title>My Pet Project</title>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
    <div class="container">
        <h3 class="header">
            YOUR SHOPPING BAG
        </h3>
        <div class="table-responsive">
          <table class="table">
            <thead>
                <tr>
                  <th class="col-md-2">
                    #
                  </th>
                  <th class="col-md-4">
                  </th>
                  <th class="col-md-2">
                    Size
                  </th>
                  <th class="col-md-2">
                    Qty
                  </th>
                  <th class="col-md-2">
                    Price
                  </th>
                </tr>
            </thead>
            <tbody>
              <tr>
                <td class="col-md-2">
                  #
                </td>
                <td class="col-md-4">
                </td>
                <td class="col-md-2">
                  Size
                </td>
                <td class="col-md-2">
                  Qty
                </td>
                <td class="col-md-2">
                  Price
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
</body>
</html>
